
.container{
    width:100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding:10px;
    justify-content: space-between;
}
.container p{
  font-size: 22px;
  color:#901630;
  font-weight: bold;
}
.headButton , .manualReservs{
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    background-color: rgba(143, 9, 200, 0.804);
    border-color: transparent;
    color:white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    animation-duration: 150ms;
}
.table{
  margin-top:20px;
  padding:20px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  border:1px solid lightgray;
  animation-duration: 150ms;
  max-height:500vh;
  transition: max-height 8.5s ease;
} 


.table th{
  font-size: 16px;
  font-weight: bold;
  
}
.table td{
  font-weight: bold;
  font-size: 13px;
  font-family:Arial, Helvetica, sans-serif;
}  
    .header{
        font-size:20px;
    }
    
    .date input{
      border-radius: 10px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      border:1px solid rgba(128, 128, 128, 0.600);
      margin:5px 0;
      padding:4px 8px;
      font-size: 16px;
    }
    .date label{
      font-size: 18px;
      color:rgba(0, 0, 0, 0.900);
      font-family: Arial, Helvetica, sans-serif;
    }

    .cellWrapper {
      display: flex;
      align-items: center;
    }
  
      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
      .table button {
        padding: 0.4rem 0.6rem;
        font-size: 0.775rem;
        line-height: 1rem;
        font-weight: 500;
        border-radius: 15px;
        border-color: transparent;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
      }

      .accepted{
        background-color:rgb(38, 38, 158);
        color:white;
      }
    

      .done{
        background-color:green;
        color:white;
      }
      

      .rejected{
        background-color: rgba(152, 22, 22, 0.866);
        color:white;
      }

      .AddDoctor,.clincalButtons {
        background-color:rgba(180, 31, 120, 0.887);
        color:white;
        padding: 4px 8px;
        font-size: 13px;
        border-radius: 15px;
        border:none;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
      }

      .search{
        border-radius: 10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border:1px solid rgba(128, 128, 128, 0.600);
        margin:5px 0;
        padding:4px 8px;
        font-size: 16px;
      }

      .search:focus{
        border-color: #a3bffa;
      --tw-ring-color: rgba(199, 210, 254, 0.5);
      --tw-ring-opacity: 0.5;
      }

      .searchResults{
        position: absolute;
        background-color: white;
        padding:10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 10px;
        border:1px solid lightgray;
        width:100%;
        line-height: 2;
      }

      .result{
        padding:2px 5px;
        border-radius: 10px;
      }

      .result a{
        color:black;
        font-size: 16px;
      }

      .result:hover{
        background-color: #a3bffa;
      }
    
@media screen and (max-width:768px){
    .container{
      padding:5px;
      width:100%;
    }

    .container p{
      font-size: 20px;
      color:#901630;
      font-weight: bold;
    }

    .date input{
      font-size: 13px;
  
    }
    .date label{
      font-size: 15px;
    }
    
        .image {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 6px;
          object-fit: cover;
        }
      
    
}

@media screen and (max-width:400px){
  .container{
    padding:0px;
}
  .headButton{
    font-size: 12px;
  }
  .search{
    width:90%;
    font-size: 13px;
  }

  .date input{
    font-size: 10px;
  }
  .date label{
    font-size: 12px;
  }

  .headButton , .manualReservs{
    font-size: 0.800rem;
}
}