.container{
    width:100%;
    max-width:100%;
    padding:20px 0;
}
.link p ,.active p{
    margin:2px 85px 2px 0px;
    padding:8px 10px;
    border-radius: 20px;
    width:90%;
    line-height:33px;  
}
.link p{
    color: #ffffffc4; /* Light text for contrast */
    font-weight: 400;
    font-size:20px;
}
.link p:hover ,.link p:active{
    background-color: rgba(121, 7, 7, 0.596);
}
.active p{
    font-size:20px;
    font-weight: 800;
    color:rgba(192, 10, 10, 0.849) ;
    cursor:default;
}

.brand{
    display: flex;
    align-items: center;
    font-size:xx-large;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(255, 255, 255, 0.836);
    margin-bottom: 1rem;
    padding-left: 10px;
}
.brand span{
    color:rgba(192, 10, 10, 0.849);
}
.logo{
   margin:20px 0 30px 5px;
   width:35px;
   height:35px;
}
#tweet{
    width:100%;
    margin:25px 0px;
    padding:5px -20px;
    border-radius: 20px;
    font-size:20px;
}
.imge{
    width:70px;
    height:70px;
    border-radius: 36px;
}
.username{
    font-size:20px;
    font-weight: 700;
    margin-left:76px;
    margin-top:-60px;
}
.prof{
    margin:2px 0 0 2px;
}

.prof h6{
    margin:-2px 0 20px 78px;
}



@media screen and (max-width:760px) {
    .container{
        margin:0;
        padding:10px 2px;
        margin-left:1px;
    }
    .container:first-child p{
        margin:2px 5px 2px 0px;
        padding:8px 0 8px 3px;
        font-weight: 400;
        font-size:15px;
        line-height:16px;
        width:30px;
        text-align: center;
    }
    #tweet{
        width:30px;
        margin:25px 0;
        padding:5px 2px;
        border-radius: 20px;
        font-size:17px;
        border: none;
        background-color: transparent;
        color:#0d6efd;
    }
    #tweet:hover{
        color:blue;
    }
    
    .container:first-child p span , #tweet span , .prof , .username , .imge{
        display:none;
        
    }
  
    .logo{
        margin:20px 0 30px 5px;
        width:25px;
        height:25px;
     }
}
