
  .header{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .date input{
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border:1px solid rgba(128, 128, 128, 0.600);
    margin:5px 0;
    padding:4px 8px;
    font-size: 16px;

  }
  .date label{
    font-size: 18px;
    color:rgba(0, 0, 0, 0.900);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container{
    width:100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding:10px;
    justify-content: space-between;
  }
  .container p{
    font-size: 22px;
    color:#901630;
    font-weight: bold;
  }


  .search{
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border:1px solid rgba(128, 128, 128, 0.600);
    margin:5px 0;
    padding:4px 8px;
    font-size: 16px;
    width:100%;

  }

  .search:focus{
    border-color: #a3bffa;
  --tw-ring-color: rgba(199, 210, 254, 0.5);
  --tw-ring-opacity: 0.5;
  }
  
  
  /* Mobile */
  @media (max-width: 550px) {
    .header{
        display:block;
    }
    .date{
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    .date input{
        border-radius: 10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border:1px solid rgba(128, 128, 128, 0.600);
        margin:5px 0;
        padding:4px 8px;
        font-size: 14px;
    
      }
      .date label{
        font-size: 16px;
      }
      .search{
        font-size: 14px;
        width:100%;
      }
    
  }
  
  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1120px) {
    .grid {
      grid-template-columns: repeat(2, 50%);
    }
  }
  

  
  